:root {
    --background: rgb(255, 255, 255);
}

body, html {
    background: var(--background);

    font-family: Merriweather;

    margin: 0;
}

div {
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: center;
}

#msg {
    left: 0px;
}

#madeBy {
    margin-right: 10px;
    margin-bottom: 10px;
}